<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Cars</a>
        <a>--- </a>
        <a class="company" href="/show">Car_company</a>
        <a>--- </a>

        <a class="create" href="/create">Create</a>
        <a>--- </a>
        <a class="create" href="/createMaf">Create_Maf</a>
        <a class="logout-btn" href="/logout">Logout</a> <!-- Logout button -->

    </div>


    <table>
        <tr>
            <th>Id_car</th>
            <th>Model</th>

        </tr>

        <tr>
            <% listUser.forEach(function(user,index) { %>
        <tr>
            <td>
                <%=user.car_id%>
            <td>
                <%=user.model%>
            </td>


            <td>
                <div class="action-buttons">
                    <a href="/show/<%=user.car_id%>">show</a>
                    <a href="/update/<%=user.car_id%>">Edit_Cars</a>
                    <form action="/delete/<%= user.car_id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit">Delete_Cars</button>
                    </form>

                </div>
            </td>

        </tr>
        <% }); %>


    </table>

</body>

</html>