<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A Cars</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- <%= JSON.stringify(useEdit) %> -->
    <div class="topnav">
        <a class="active" href="/cars">Cars</a>
        <a>--- </a>
        <a class="company" href="/brands">Brands</a>
        <a>--- </a>
        <a class="create" href="/create_cars">Create_cars</a>
        <a>---</a>
        <a class="cart" href="/cart">Shopping_Cart</a>
    </div>
    <div class="form">
        <form action="/updateCar/<%= useEdit.car_id %>?_method=PUT" method="POST">

            <fieldset>
                <legend>Form update new Cars</legend>

                <div class="input-group de-none">
                    <label>Car_id: </label>
                    <input type="text" name="car_id" value="<%= useEdit.car_id %>" />
                </div>
                <div class="input-group">
                    <label>Brand_id: </label>
                    <input type="text" name="brand_id" value="<%= useEdit.brand_id %>" />
                </div>
                <div class="input-group">
                    <label>Model: </label>
                    <input type="text" name="model" value="<%= useEdit.model %>" />
                </div>
                <div class="input-group">
                    <label>Year: </label>
                    <input type="text" name="year" value="<%= useEdit.year %>" />
                </div>
                <div class="input-group">
                    <label>Price: </label>
                    <input type="text" name="price" value="<%= useEdit.price %>" />
                </div>
                <div class="input-group">
                    <label>Conditions: </label>
                    <input type="text" name="conditions" value="<%= useEdit.conditions %>" />
                </div>
                <div class="input-group">
                    <label>Type: </label>
                    <input type="text" name="type" value="<%= useEdit.type %>" />
                </div>

                <div>
                    <button type="submit">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>