<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/cars">Cars</a>
        <a>--- </a>
        <a class="company" href="/brands">Brands</a>
        <a>--- </a>

        <a class="create" href="/create_car">Create_cars</a>
        <a>--- </a>
        <a class="create" href="/create_brands">Create_brands</a>
        <a>--- </a>
        <a class="user" href="/user">User</a>
        <a>---</a>
        <a class="cart" href="/cart">Shopping_Cart</a>
        <a class="logout-btn" href="/logout">Logout</a> <!-- Logout button -->

    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Role_id</th>

        </tr>
        <tr>
            <% listUser.forEach(function(user,index) { %>
        <tr>
            <td>
                <%=user.user_id%>
            <td>
                <%=user.name%>
            <td>
                <%=user.email%>
            <td>
                <%=user.password%>
            <td>
                <%=user.phone%>

            </td>
            <td>
                <%=user.address%>

            </td>

            <td>
                <%=user.role_name%>

            </td>

            <td>
                <div class="action-buttons">
                    <a href="/updateUser/<%=user.user_id%>">updateUser</a>
                    <form action="/deleteUser/<%= user.user_id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit">Delete_User</button>
                    </form>

                </div>
            </td>
        </tr>
        <% }); %>




    </table>
</body>

</html>